/* ------------>listing page<------------ */

.listing_header {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: 30px 400px;
  /* padding-bottom: 10px; */
  border-bottom: 3px solid black;
}

.listing_header p {
  padding-top: 15px;
}

.listing_header .listing_sort {
  float: right;
  border-left: 3px solid black;
  padding: 10px 0;
}

.listing_header .listing_sort label {
  padding-right: 10px;
  padding-left: 10px;
}

.grid_listings {
  width: 60%;
  margin: 0 400px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.spaceSize {
  display: inline-flex;
}

.grid_listings aside p {
  font-size: larger;
  margin-right: 200px;
  width: 100%;
  border-bottom: 3px solid grey;
}
.grid_listings .column {
  padding-top: 18px;
}
.grid_listings fieldset {
  border-color: white;
  border-radius: 4px;
  width: 100%;
  background-color: rgb(246, 245, 245);
}
.grid_listings fieldset div {
  margin-left: 20px;
  padding-top: 6px;
}

.grid_listings fieldset div select {
  width: 75%;
  padding: 4px;
  -webkit-appearance: none;
}
.grid_listings aside .search_btn {
  padding-top: 20px;
  padding-bottom: 5px;
}
.grid_listings aside .search_btn button {
  padding: 5px;
  border: 1.5px solid black;
  border-radius: 4px;
  background-color: rgba(0, 136, 169, 1);
  color: white;
  font-weight: bold;
}
.grid_listings {
  display: space-between;
}

.outsideColumn {
  width: 100%;
  height: 300px;
  margin: 20px 40px 20px 0;
}

article .column {
  width: 95%;
  padding: 15px;
  height: 280px;
  background-color: rgb(246, 245, 245);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}

.propertyContent {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.imageContainer {
  position: relative;
  text-align: center;
  color: white;
  margin-right: 10px;
  z-index: 1;
}

.propertyType {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  background-color: rgba(246, 245, 245, 0.5);
  text-decoration: none;
}

.outsideColumn img {
  width: 100%;
  height: 100%;
  float: left;
}

.textContainer {
  display: inline;
}

.textContainer p:first-child {
  float: right;
}

.textContainer p:nth-child(3) {
  margin-top: 1%;
}

.textContainer p:nth-last-child(2) {
  /* position: fixed; */
  margin-top: 10%;
}

.textContainer h4 a {
  text-decoration: none;
  color: rgb(54, 54, 54);
}
