/* .property {
  text-align: center;
  display: inline;
} */

.outsideColumn {
  width: 70%;
  height: 100%;
  margin: 2% 5% 20px 15%;
  overflow-wrap: anywhere;
}

.column {
  width: 100%;
  padding: 15px;
  height: 100%;
  background-color: rgb(246, 245, 245);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}

.propertyContent {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.imageContainer {
  position: relative;
  text-align: center;
  color: white;
  margin-right: 10px;
  z-index: 1;
}

.propertyType {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px;
  background-color: rgba(246, 245, 245, 0.5);
  text-decoration: none;
}

.outsideColumn img {
  width: 100%;
  height: 100%;
  float: left;
}

.textContainer {
  display: inline-block;
}

.textContainer p:first-child {
  float: right;
}

.textContainer p:nth-child(3) {
  margin-top: 1%;
}

.textContainer .desc {
  margin-top: 30%;
}

/* .textContainer button {
  position: fixed;
  bottom: 5%;
} */

.textContainer p:nth-last-child(2) {
  padding-top: 1%;
  padding-bottom: 1%;
}

.textContainer h4 a {
  text-decoration: none;
  color: rgb(54, 54, 54);
}
